/*  ===== Reset page values ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Define variables ===== */
:root { /* Gradient shading */
    --sunset-orange: #E08E1D;
    --sunset-red: #8B0000;
    --sunset-wine: #632846;
    --bluebonnet-blue: #3A4F8C;

    /* Specific colors, non-standard */
    /* 'standard' being like; white, grey, black, etc */
    --plum: #5C2A3D;
    --indigo: #3B4A6B;
    --cream: #F5F0E6;
    --charcoal: #232733;
    --cotton: #F5F0E6;
    --asphalt: #2B2B2B;
}

/* ===== Page background ===== */
html { /* whole page */
    background: linear-gradient(180deg, var(--sunset-orange) 0%, var(--sunset-red) 40%, var(--sunset-wine) 70%, var(--bluebonnet-blue) 100%);
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Verdana', sans-serif;
}

/* ===== Layout ===== */
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border: 6px solid black;
    border-radius: 16px;
    background-color: darkgrey;
}

header {
    padding: 20px;
    background-color: var(--plum);
    color: var(--cotton);
    text-align: center;
}

nav {
    padding: 20px;
    background-color: var(--indigo);
    color: var(--cotton);
    text-align: center;
    border-bottom: 8px solid var(--charcoal);
}

main {
    padding: 20px;
    background-color: var(--cream);
    color: var(--asphalt) ;
}

footer {
    padding: 20px;
    background-color: var(--charcoal);
    color: var(--cotton);
    text-align: center;
}

